@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'berkeley';
    src: url('../assets/fonts/BerkeleyMonoTrial-Regular.ttf');
  }

html {
    font-family: 'berkeley';
}