@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: 'berkeley';
    src: url('/fonts/BerkeleyMonoTrial-Regular.ttf'); /* Gunakan path absolut dari root */
    font-display: swap; /* Tambahkan ini untuk optimasi loading */
}

@font-face {
    font-family: 'tnr';
    src: url('/fonts/TimesNewerRoman-Regular.ttf'); /* Gunakan path absolut dari root */
    font-display: swap; /* Tambahkan ini untuk optimasi loading */
}

html,
body,
main {
    font-family: 'berkeley', monospace; /* Tambahkan fallback font */
}

::selection {
  background: rgb(10, 10, 10);
  color: white;
}

.select {
  height: 0;
}

.select:hover {
  display: inline-block;
  color: #fffab7;
  height: 15px;
  width: auto;
  background-color: #111111;
  transition: color .25s ease-in-out, box-shadow .3s ease-in-out;
  transition: height .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.select-xl {
  height: 0;
}

.select-xl:hover {
  display: inline-block;
  color: #fffab7;
  height: 24px;
  width: auto;
  background-color: #111111;
  transition: color .25s ease-in-out, box-shadow .3s ease-in-out;
  transition: height .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}