---
import { getCollection } from 'astro:content';

import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile";
import Scene3D from "../components/Scene3D";
import BlogList from "../components/BlogList";
import Projects from "../components/Projects";
import Contact from "../components/Contact";
import Skills from "../components/Skills";

import { LanguageProvider } from "../components/languageProvider";
import LanguageToggle from "../components/languageToggle";

const projects = await getCollection('projects');
const featuredProjects = projects
  .filter(project => project.data.featured)
  .sort((a, b) => (a.data.order || 99) - (b.data.order || 99));

  const posts = await getCollection("posts");
---

<Layout title="This is Not a Portfolio (or is it?) | klaw">
  <main class="min-h-screen bg-gray-100 flex flex-col">
    {/* Grid container with responsive layout */}
    <div
      class="h-full grid grid-cols-1 md:grid-cols-3 grid-rows-[auto] md:grid-rows-2 gap-2 md:gap-0 md:h-screen"
    >
      {/* Profile Section - Second on mobile, Top Left on desktop */}
      <div class="p-6 overflow-hidden order-2 md:order-1 md:w-full md:max-h-full md:mx-auto">
        <LanguageToggle client:load />
        <div class="border"></div>
        <Profile client:load />
      </div>
      
      {/* 3D Object Section - Full width on mobile, Top Right on desktop */}
      <div class="border overflow-hidden order-1 md:order-1 md:w-full md:max-h-full md:mx-auto">
        <Scene3D client:load />
      </div>
      
      <div class="border p-6 overflow-hidden order-3 md:order-1 md:w-full md:max-h-full md:mx-auto">
        <Skills client:load />
      </div>
      
      {/* Blog List Section - Third on mobile, Bottom Left on desktop */}
      <div class="border p-6 overflow-auto order-4 md:w-full md:max-h-full md:mx-auto">
        <BlogList posts={posts} client:load/>
      </div>
      
      {/* Projects Section - Fourth on mobile, Bottom Middle on desktop */}
      <div class="border p-6 overflow-auto order-5 md:w-full md:max-h-full md:mx-auto">
        <Projects client:load projects={featuredProjects} />
      </div>
      
      {/* Contact Section - Last on mobile, Bottom Right on desktop */}
      <div class="border p-6 overflow-auto order-6 md:w-full md:max-h-full md:mx-auto">
        <Contact client:load />
      </div>
    </div>
  </main>
  </Layout>
