<div class="h-full">
  <h2 class="text-xl font-bold mb-4">Latest Posts</h2>
  <div class="space-y-1 text-xs">
        <a
          href=""
          class="block p-4 border rounded hover:bg-gray-50"
        >
          <h3 class="font-medium"></h3>
          <p class="text-sm text-gray-500">
            asd
          </p>
        </a>
  </div>
</div>
