---
interface Props {
  title?: string;
}
const { title = 'klaw' } = Astro.props;
import '@styles/global.css'
import '@fortawesome/fontawesome-free/css/all.min.css';
---
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: 'berkeley';
        src: url('/fonts/BerkeleyMonoTrial-Regular.ttf') format('truetype');
        font-display: swap;
      }
    </style>
  </head>
  <body style="font-family: 'berkeley', monospace;">
    <slot />
  </body>
</html>